<div id="<%= dom_id post %>">
  <article class="post">
    <h2><%= link_to post.title, post %></h2>
    <div class="byline">
      by <%= post.author.name %>
      on <time datetime="<%= post.created_at.strftime("%Y-%m-%d") %>"><%= post.created_at.strftime("%B %-m, %Y") %></time>
    </div>
    <br>
    <%= post.body %>
    <br><br>
    <%= render post.comments.order(created_at: :asc) %>
    <% if user_signed_in? %>
      <hr>
      <%= link_to "New comment", new_post_comment_path(post_id: post.id) %>
    <% end %>
  </article>
</div>
